*{
    margin: 0;
}
@font-face {
    font-family: Roboto ;
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    background-color: rgba(123, 124, 124, 0.212);
    font-family: Roboto;
}
header{
    background-color: rgb(139, 101, 76);
    padding: 10px;
    color: white;
    font-family: Roboto;
    text-align: center;
}
main{
    padding: 30px 50px;
}
.card{
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    margin-top: 15px;
    border-radius:  10px;
}
.LineInput{
    display: grid;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border: 1px solid rgb(165, 140, 140);
    border-radius: 5px;
    outline: 0;
}
button{
    border: 0;
    padding: 10px;
    outline: 0;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    
}

.adicione{
    background-color: rgb(149, 192, 152);
    border-radius: 2px solid rgb(247, 75, 75); 

}
.adicione:hover{
    background-color: rgb(16, 211, 22);
    transition: 0.5s;
}
.deleter{
    background-color: rgb(250, 136, 136);
    border-radius: 2px solid rgb(247, 75, 75); 
}
.deleter:hover{
    background-color: rgb(248, 10, 10);
    transition: 0.5;
}

/*--------TABELA-------*/
.conteiner{
    margin-top: 15px;
    

}
table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;

}
table th{
    background-color: #cccccc;
}
table th, td{
    padding: 1px 5px;
   text-align: left;
  
}
table td img{
    width: 20px;
}
.tdimagens{
    text-align: center;
    margin-left:  15px;
}
.center{
    text-align: center;
}